/node_modules/
/dist/
/build/
/unpackage/
/scripts/template/
/static/
/docs/

.idea
package-lock.json
package.json
yarn.lock
.editorconfig
.gitignore
.prettierignore
/**/*.min.js
/**/*.md
/**/*.log
/**/**.ejs
